.earn_container{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../../assets/images/solarEmoji.svg") center center/cover no-repeat;

}

.solar{
    position: absolute;
    z-index: 0;
    height: 70%;
    width: 100%;
    object-fit:cover ;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
 
    z-index: 1;
}


.focusText{
    background: -webkit-linear-gradient(91deg, #7526F2 0%, #C826F2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    font-weight: 700;
}

.container p{
    color: rgba(137, 117, 156, 0.7);
    font-size: 18px;
    text-align: center;
}

.container h1{
    text-align: center;
    color: rgba(202, 196, 210, 1);
}
.btn{
    width: 30%;
    padding: 2% 4%;
    border: none;
    border-radius: 13px;
    color: white;
    cursor: pointer;
    background: rgb(59,0,64);
background: linear-gradient(135deg, rgba(177, 38, 242, 1) 0%, rgba(119, 0, 212, 1) 100%);
}


@media (max-width: 1200px) {
    .container p{
        font-size: 14px;
    }
    .container h1{
        font-size: 29px;
    }
    .earn_container{
        padding: 2%;
    }
}