.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
}

.items_container{
    display: flex;

    gap: 40%;
}
.items_container h3 {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 7%;

}
.items_container p {
    color: rgba(198, 198, 198, 1);
    cursor: pointer;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 2%;
}

.follow_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    color: white;
}

.icon_container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.icon_container img{
    max-width:15%;
    object-fit: contain;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .footer_container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        padding: 5% 2%;
    }

    .items_container{
        margin: 5% 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 35px;
    }
    .items_container h3{
        text-align: center;
        font-size: 24px;
    }
    .items_container p{
        text-align: center;
    }
    .follow_container{
        text-align: center;
    }
}